[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
openai-whisper = "==20231117"
openai = "==1.9.*"
pydub = "==0.25.*"
python-dotenv = "==1.0.*"
python-telegram-bot = "==20.7"
requests = "==2.31.*"
tts = "==0.22.*"
torch = "*"
torchvision = "*"
torchaudio = "*"

[dev-packages]

[requires]
python_version = "3.11"
